---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
AlwaysBreakTemplateDeclarations: Yes
Cpp11BracedListStyle: true
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
AlignTrailingComments: true
SpaceBeforeAssignmentOperators: true
IndentCaseLabels: true
SpaceAfterCStyleCast: true
IndentPPDirectives: AfterHash
SpacesInContainerLiterals: false
SpacesInParentheses: false
PenaltyReturnTypeOnItsOwnLine: 0
AllowShortBlocksOnASingleLine: true
IndentWrappedFunctionNames: false
SpaceBeforeCpp11BracedList: false
SortIncludes: false
IncludeBlocks: Preserve
SpaceAfterTemplateKeyword: true
SpacesInAngles: false
IncludeIsMainSourceRegex: '$'
ReflowComments: true
